body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f4f4f9;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 50px;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 250px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#resultado {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

#qrcode {
  margin-top: 20px;
}